body{
  background-color: #f8f7f5;
}

.container{
  max-width:960px;
  margin:0 auto;
  margin-bottom: 2em;
}

.footer{
  font-size: 0.5em;
  padding-top:1em;
}

.clear{
  clear:both;
}

nav a{
  text-decoration: none;
  outline: none;
  color: rgb(32,32,32);
}

nav ul{
  text-align: center;
}

nav ul li{
  display:inline-block;
}

nav ul li:after{
  content:" |";
}

nav ul li:last-child:after{
  content:"";
}

nav {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color: white;
  line-height: 30px;
  height:30px;
}

.main{
  padding-top:30px;
}

.side-menu > .nav{
  padding:45px;
}

h1 {
  margin-top: -60px !important;
  padding-top: 60px;
}

h2 {
  margin-top: -60px !important;
  padding-top: 60px;
}

:not(pre)>code{
    margin: 0 2px;
    padding: 2px 4px;
    background: #efefef;
    border-radius: 3px;
    font-style: normal;
    line-height: 1em;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.17);
    box-shadow: 0 1px 0 rgba(0,0,0,.17);
}

code {
  overflow-wrap: break-word;
}

img{
  max-width: 300px;
}

/* =Unordered List
-------------------------------------------------------------- */

ul.hz {
  list-style: none;
  padding:0;
}
ul.hz li{
  display:inline-block;
}

